body {
  background: #fff;
  font: 300 16px/20px Helvetica, Arial, sans-serif;
  color: #333;
}

.player-window {
  display: flex;
  padding: 20px;

  .video-player {
    width: 75%;

    video {
      display: block;
      margin: 10px auto;
      border: 3px solid #000;
    }
  }

  .player-toolbar {
    text-align: center;
  }

  .playlist-container {
    background: #eee;
    width: 25%;
    padding: 10px;

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: flex;
      padding: 5px;
      cursor: pointer;
      justify-content: space-between;
      text-decoration: none;

      transition: all .2s;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .current a {
      color: orangered;
    }

    button {
      border: none;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 20px 5px;
      cursor: pointer;

      &.active {
        color: #fff;
        background: orangered;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
