body {
  background: #fff;
  font: 300 16px/20px Helvetica, Arial, sans-serif;
  color: #333;
}

button {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  padding: 3px 15px;
  border: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.player-window {
  display: flex;
  padding: 20px;

  .video-player {
    width: 75%;

    video {
      display: block;
      margin: 10px auto;
      border: 3px solid #000;
    }
  }

  .player-toolbar {
    background: #eee;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
  }

  .playlist-container {
    background: #eee;
    width: 25%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .playlist-toolbar {
      text-align: center;

      button {
        margin: 0 5px;
      }
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: flex;
      padding: 5px;
      cursor: pointer;
      justify-content: space-between;
      text-decoration: none;

      transition: all .2s;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .current a {
      color: orangered;
    }

    button {

      &.active {
        color: #fff;
        background: orangered;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
